language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

sudo: false

env:
  matrix:
    - NETCOMMONS_VERSION=master DB=mysql
  global:
    - secure: "B/XMBpbAJDvTiATtLnD4xN1OJ/7sV4eB4kTxSjXsRx4kkRRwGXP+E0j+lze59Bt+Tc7NWyWCr00OxEXdPuWa7cAGnw1p/h1M/ORhQfB0eiSFNObGLUiaAWs8yCWXz+tzdUrE18S87NjtBInP8rpLC4d5fpfO5RF9/tC5TSAWJfWbGduVTNdt6eXjiTAagOzzt3F67xqTO6FG8DbLEEhY91CMzfKDPFXLMUXPKKDJ1xIKgiY5z5SOdIvJZBAqxS0r4SEGi+r3jZmFlmT3MsVjTcm88F27y995whGSLnZXPmQB5jRV9wwMiPzgoV48rcgcBwwvt+3NIQXJuo+5QN8TsTnjHksDrjzGNwRKvZQDm5+olHZyOg8wR53jtVqIgwpmb11YCT9zYXLANZ5iWnL77hxA75ElAKS9MSHPVEE5FlunKfGyFpSmmK5QDUjRrLpcbwHQOF+ASzW0f+rmbieaqZwOi4/pOSsRHmiTxpzCowWJxeLtbZlInnINPQb9xDXpaJXOefnGz0d3hxte29xOFpFzlB/e9WPsD/VaF3+tgNKKWZnWkCVTg6nB7UrluQKCv1n66TZhQHKt5jBYgxHOvwOuCfa87Ec7RNjaZshkvEfe2qNBX1dvvcAjL4cR0QTjpPjWZhYle776KhZTZh80a9iSgeAbzmD4r6qIEx9o5o4="
    - GIT_COMMITTER_NAME=s-nakajima
    - GIT_COMMITTER_EMAIL=nakajimashouhei@gmail.com
    - GIT_AUTHOR_NAME=s-nakajima
    - GIT_AUTHOR_EMAIL=nakajimashouhei@gmail.com

before_script:
  - export NETCOMMONS_BUILD_DIR=`dirname $TRAVIS_BUILD_DIR`/NetCommons3
  - git clone git://github.com/NetCommons3/NetCommons3 $NETCOMMONS_BUILD_DIR
  - cd $NETCOMMONS_BUILD_DIR
  - git checkout $NETCOMMONS_VERSION
  - travis_wait . tools/build/plugins/cakephp/travis/pre.sh
  - . tools/build/plugins/cakephp/travis/environment.sh

script:
  - . tools/build/plugins/cakephp/travis/main.sh

after_script:
  - . tools/build/plugins/cakephp/travis/post.sh

notifications:
  email:
    recipients:
      - netcommons3@googlegroups.com
    on_success: never  # default: change
    on_failure: always # default: always
